@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-color: gray transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: gray;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #1f2937;
  }
}
