@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-color: lightgray transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: gray;
}

/* Dark mode */

.dark .scrollbar {
  scrollbar-color: darkgray transparent;
}
.dark .scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

.dark .scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937;
}
